{% extends 'layouts/base.twig' %}

{% block title %}О Сайте{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h1>О Сайте</h1>
    <p>Добро пожаловать на наш сайт, где мы предлагаем широкий спектр услуг по обслуживанию компьютеров, принтеров и заправке картриджей.</p>
    <p>Мы готовы помочь вам поддерживать ваши компьютеры и офисное оборудование в отличном состоянии для бесперебойной работы вашего отдела.</p>
    <p>Обслуживание компьютеров и принтеров — это не только профилактика и ремонт, но и оптимизация работы вашего отдела.</p>
    <p>Регулярное техническое обслуживание поможет предотвратить непредвиденные сбои и увеличить срок службы оборудования.</p>
    <p>Наша заправка картриджей также позволяет сэкономить ваше время и обеспечить высокое качество печати без необходимости посещения нашего отдела лично.</p>
    <p>Мы гарантируем высокое качество обслуживания, профессиональный подход к каждому заказу и оперативное реагирование на любые проблемы с вашим оборудованием.</p>

    <br>

    <p>Обслуживание компьютеров и принтеров играет решающую роль в надежной работе вашего отдела.</p>
    <p>Регулярное техническое обслуживание помогает предотвратить непредвиденные сбои и увеличить срок службы оборудования.</p>
    <p>Это также способствует оптимизации производительности и снижению риска возникновения проблем во время работы.</p>
    <p>Поддерживая ваши компьютеры и принтеры в хорошем состоянии, вы обеспечиваете бесперебойную работу вашего отдела и сохраняете эффективность рабочего процесса.</p>

    <br>

    <p><strong>В работу отдела СКСиС входят следующие обязанности:</strong></p>
    <ul>
        <li>Замена и заправка картриджей;</li>
        <li>Ремонт и обслуживание принтеров и техники;</li>
        <li>Настройка оборудования в аудиториях;</li>
    </ul>

    <br>

    <p>Если у вас появятся вопросы, то можете задать их начальнику отдела на номер: +7 (964) 477-62-88</p>
</div>
{% endblock %}