{% extends 'layouts/base.twig' %}

{% block content %}
<div class="content-wrapper">
    <h1>ITech</h1>
    <p>Доброго времени суток, данный сайт направлен на мониторинг картриджей для принтеров.</p>
    <p>А также вы можете отправить заявку на обслуживание вашей техники нашему техническому специалисту.</p>
</div>
{% endblock %}